<div class="row" role="title-row">
  <div class="col-sm-5">
    <h3><%= image_tag 'kom.gif',size: "24"%>  <%= @compteur.libelle %></h3>
  </div>
  <div class="col-sm-7">
    <div class="pull-right" role="menu">
      <%= link_to compteurs_path, 'class' => 'btn btn-default' do %>
          <%= fi_icon('arrow-left') %> Retour
      <% end %>
    </div>
  </div>
</div>

<div class="tab-content">

  <fieldset>
    <legend>Informations</legend>
    <div class="row">
      <div class="col-sm-8">
        <div class="row margin-t10">
          <div class="col-sm-6">
            <h4 class="no-margin"><span class="label label-default pull-right">Libelle</span></h4>
          </div>
          <div class="col-sm-6">
            <p><%= @compteur.libelle %></p>
          </div>
        </div>
        <div class="row margin-t10">
          <div class="col-sm-6">
            <h4 class="no-margin"><span class="label label-default pull-right">Edition</span></h4>
          </div>
          <div class="col-sm-6">
            <p><%= @compteur.edition.libelle %></p>
          </div>
        </div>
        <div class="row margin-t10">
          <div class="col-sm-6">
            <h4 class="no-margin"><span class="label label-default pull-right">Créée le</span></h4>
          </div>
          <div class="col-sm-6">
            <p><%= localize(@compteur.created_at) if @compteur.created_at %></p>
          </div>
        </div><div class="row margin-t10">
        <div class="col-sm-6">
          <h4 class="no-margin"><span class="label label-default pull-right">Mise à jour le</span></h4>
        </div>
        <div class="col-sm-6">
          <p><%= localize(@compteur.updated_at) if @compteur.updated_at %></p>
        </div>
      </div>
      </div>
      <div class="col-sm-4">
        <p class="pull-right">
          <% if @compteur.image.exists? %>
              <%= image_tag(@compteur.image.url(:thumb)) %>
          <% end %>
        </p>
      </div>
    </div>
  </fieldset>


  <p class="form-actions">
    <%= link_to 'Modifier', edit_compteur_path(@compteur), class: 'btn btn-munchkin' %>
  </p>
</div>

