
<div class="tab-content">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put, :role => 'form', :class => "form"}) do |f| %>
      <%= render "shared/error_messages", :target => resource %>
      <div class="form-group">
        <%= f.label :username, 'Identifiant' %>
        <%= f.text_field :username, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :email, class: 'control-label' %>
        <%= f.email_field :email, :autocomplete => 'off', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, class: 'control-label' %>
        <% if @validatable %>
            <em>(<%= @minimum_password_length %> caractères minimum)</em>
        <% end %><br/>
        <%= f.password_field :password, :autocomplete => "off", class: 'form-control' %>
        <p class="help-block">
          <small><em>(Laisser vide pour ne pas le changer.)</em></small>
        </p>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, class: 'control-label' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :current_password, class: 'control-label' %>
        <%= f.password_field :current_password, class: 'form-control' %>
        <p class="help-block">
          <small><em>(Requis pour confirmer la mise à jour.)</em></small>
        </p>
      </div>
      <div class="form-actions"><%= f.submit "Enregistrer", :class => "btn btn-munchkin" %></div>
  <% end %>
  <div class="form well well-lg treasure-bg">
    <h3>Supprimer mon compte</h3>

    <p>La suppression du compte entraîne la suppression de toutes les données enregistrées sur l'application.</p>
    <%= button_to "Supprimer", registration_path(resource), :data => {:confirm => "Confirmez la suppression de votre compte?"}, :method => :delete, :class => 'btn btn-warning right' %>
  </div>
</div>
