<div class="row" role="title-row">
  <div class="col-sm-5">
    <h3>Demande de création de compte</h3>
  </div>
  <div class="col-sm-7">
    <div class="pull-right" role="menu">
      <%= link_to root_path, 'class' => 'btn btn-default' do %>
          <%= fi_icon('arrow-left') %> Retour
      <% end %>
    </div>
  </div>
</div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form'}) do |f| %>

    <%= devise_error_messages! %>
    <div class="form-group <%= mark_required(f.object, :username) %>">
      <%= f.label :username, 'Choisissez un identifiant', :class => 'control-label' %>
      <%= f.text_field :username, class: 'form-control' %>
    </div>
    <div class="form-group <%= mark_required(f.object, :email) %>">
      <%= f.label :email, :class => 'control-label' %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    <div class="form-group <%= mark_required(f.object, :password) %>">
      <%= f.label :password, :class => 'control-label' %>
      <% if @validatable %>
          <em>(<%= @minimum_password_length %> caractères minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </div>
    <div class="form-group <%= mark_required(f.object, :password_confirmation) %>">
      <%= f.label :password_confirmation, :class => 'control-label' %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="form-actions">
      <%= f.submit "Envoyer la demande", :class => 'btn btn-munchkin', :id => 'button-accept' %>
      ou
      <%= link_to "Annuler", root_path %>
    </div>
<% end %>
