<div class="row" role="title-row">
  <div class="col-sm-5">
    <h3><%= image_tag 'promo.gif',size: "24"%>  Modification de la Carte </h3>
  </div>
  <div class="col-sm-7">
    <div class="pull-right" role="menu">
      <%= link_to cartes_path, 'class' => 'btn btn-default' do %>
          <%= fi_icon('arrow-left') %> Retour
      <% end %>
    </div>
  </div>
</div>

<%= form_for @carte, :html => {:multipart => true, :class => "form" } do |f| %>
    <div class="form-group <%= mark_required(f.object, :libelle) %>">
      <%= f.label :libelle, :class => 'control-label' %>
      <%= f.text_field :libelle,  :class => 'form-control' %>
    </div>

    <div class="form-group <%= mark_required(f.object, :recette_type_id) %>">
      <%= f.label :carte_type_id, 'Type de carte' %>
      <%= f.collection_select :carte_type_id, CarteType.all, :id, :libelle, {}, class: 'form-control' %>
    </div>

    <div class="form-group <%= mark_required(f.object, :image) %>">
      <%= f.label :image %>
      <% if @carte.image.exists? %>
          <%= image_tag(@carte.image.url(:thumb)) %>
      <% end %>
      <%= f.file_field :image, class: 'margin-t10' %>
    </div>


    <p ><%= f.submit "Enregistrer la carte", class: 'btn btn-large btn-success' %></p>
<% end %>
